.formContainer {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 35%;
    height: 100%;

    top: 4%;

    z-index: 50;
  }

.form {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 70%;

    margin: 20px;
    padding: 10px;

    border: 1px solid #212121;
}